header {
    max-height: 15vh;

    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 55px 100px !important;
        height: auto;
        line-height: normal;
        background-color: transparent !important;
        box-shadow: none;

        .nav-brand {

            svg {
                width: 150px;
            }

            @include marginRight(50px);
        }

        ul {
            li {
                display: inline-block;
                padding: 10px 25px;

                a {
                    text-decoration: none;
                    color: $dark-gray;
                    font-family: 'AlegreyaSansSC';
                    font-size: larger;

                    &:hover {
                        background: transparent !important;
                    }

                    &:focus {
                        color: $Sapphire-Blue;
                    }

                    &:focus-within {
                        border-bottom: 2px solid $Sapphire-Blue;
                    }
                }

            }
        }
    }

    .active {
        color: $Sapphire-Blue;
        border-bottom: 2px solid $Sapphire-Blue;
    }
}

@media (max-width:1280px) and (min-height:720px) {
    header {
        nav {
            padding: 30px 100px !important;
        }
    }
}

@media (max-height: 768px) {
    header {
        nav {
            padding: 35px 100px !important;
        }
    }
}

@media (max-height: 768px) and (max-width: 1024px) {
    header {
        nav {
            padding: 25px 100px !important;
        }
    }
}

@media (max-width: 480px) {
    header {
        nav {
            display: flex;
            // justify-content: center;
            // align-items: center;
            padding: 30px !important;

            .nav-brand {
                margin: 0 !important;
            }
        }
    }
}

@media (max-width: 320px) {
    header {
        nav {
            display: flex;
            // justify-content: center;
            // align-items: center;
            padding: 20px 20px !important;

            .nav-brand {
                margin: 0 !important;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        nav {
            display: flex;
            // justify-content: center;
            // align-items: center;
            padding: 25px 0;

            .nav-brand {
                margin: 0 !important;
            }
        }
    }
}