*,
*::after,
*::before {
	box-sizing: inherit;
}

* {
	font-family: $font;
}

body {
	@include margin(0);
	@include padding(0);
	background-color: $gray-99;
	font-size: $font-size-browser-default;
	font-weight: $font-regular;
	// color: $white-color;
	scroll-behavior: smooth;
	overflow-x: hidden;
	user-select: none;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
	box-shadow: inset 0 0 4px -0.5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba($color: $white-color, $alpha: 0.5);
}

button {
	cursor: pointer;
	outline: none;
}

a {
	text-decoration: none;
}

ul {
	@include padding(0);
}

ul {
	list-style: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	@include margin(0);
}

input[type="number"] {
	-moz-appearance: textfield;
}

textarea {
	resize: vertical;

	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 5px;
		box-shadow: inset 0 0 4px -0.5px rgba(0, 0, 0, 0.2);
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: rgba($color: $white-color, $alpha: 0.5);
	}
}

button::-moz-focus-inner {
	border: 0;
}

a:hover,
a:active,
a:focus {
	outline: 0;
}

input {
	-webkit-appearance: none;
}

select {
	@include paddingLeft(8px);
	background-color: $white-color;
	border-radius: $border-radius-default;
	outline: none;
	cursor: pointer;

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		background-color: #f2f2f2;
	}
}

select.decorated option:hover {
	box-shadow: 0 0 10px 100px $primary-color inset;
}

p {
	color: $gray-color-dark-4;
	font-size: 0.75rem;
	// font-weight: 700;
	line-height: 20px;
}

button {
	&:disabled {
		// opacity: 0.5;
		cursor: not-allowed !important;
		// pointer-events: none;
	}

	&:hover {
		transform: none !important;
		box-shadow: none !important;
	}
}

h1 {
	font-size: 2.25rem;

	&.huge {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 1.875rem;

	&.huge {
		font-size: 2rem;
	}
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;

	&.huge {
		font-size: 1.5rem;
	}
}

h5 {
	font-size: 1.125rem;

	&.huge {
		font-size: 1.5rem;
	}
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-size: 0.75rem;
	line-height: 20px;
}

img,
svg,
button {
	user-select: none;
}