.align-content-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.gradient-background {
    z-index: -1;
    -webkit-filter: blur(7.6px);
    filter: blur(7.6px);
    transition: opacity 0.2s linear;
    will-change: opacity;
    position: absolute;
    background: $submit-button-background-webkit-gradient;
    background: $submit-button-background-gradient;
}

.pending {
    &>button {
        font-size: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        height: 95% !important;
        border-radius: 50% !important;
        -webkit-animation: rotate 0.7s ease-in-out .25s infinite;
        animation: rotate 0.7s ease-in-out .25s infinite;
        border: 2px solid #2E8EFF !important;
        border-left-color: transparent !important;
    }

    .record-button-bg {
        border-radius: 50% !important;
        opacity: 0.8 !important;
    }

    width: 80px !important;
    height: 80px !important;
    padding: 0 !important;
    border-radius: 50% !important;

    &:hover {
        transform: none !important;

        .record-button-bg {
            border-radius: 100px !important;
            opacity: 1;
        }
    }

}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(.5);
    }
}

@keyframes bounce {
    0% {
        transform: scale(.5);
    }
}

.success {
    .record-button-bg {
        width: 120% !important;
        height: 120% !important;
        -webkit-animation: bounce .3s ease-in-out;
        animation: bounce .3s ease-in-out;
    }

    // animation: bounce .3s ease-in-out;


    &>button {
        position: relative;
        padding: 0 !important;
        background-color: #fff;
        -webkit-animation: bounce .3s ease-in-out;
        animation: bounce .3s ease-in-out;

        &:before {
            content: '';
            position: absolute;
            left: calc(50% - 13px);
            right: 0;
            top: calc(50% - 13px);
            margin: 0 auto;
            width: 3rem;
            height: 3rem;
            background: url('https://image.flaticon.com/icons/svg/1828/1828643.svg') no-repeat;
            background-size: 26px 26px;
        }
    }
}

.hide {
    height: 0;
    opacity: 0;
    overflow: 0;
    visibility: hidden;
}

.record-instruction {
    padding: 0 20px;
    margin: 10px 0;
    @extend .align-content-center;

    p {
        text-align: center;
        font-family: 'OpenSansItalic' !important;
        margin: 0;
        font-size: 18px;
        word-wrap: break-word;
        transition: 0.2s all ease-in-out;
    }
}

.danger {
    color: $light-red;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.submit-button {
    width: 100px;
    height: 100px;

    &>button {
        font-family: 'ZillaSlab';
        letter-spacing: 1px;
        color: #2e8eff;
        font-size: 18px;
        // padding: 10px 20px !important;
    }

    // margin-top: 20px;
    // background: $white-color;
    // // font-weight: bold;
    // border: none;
    // border-radius: 25px;
    // cursor: pointer !important;
    // transition: 0.1s all ease-in-out;


    // &:hover {
    //     transform: scale(1.1);
    //     box-shadow: 0 3px 15px rgba(122, 122, 122, 0.733);
    // }
}

.record-button {
    width: 70px;
    height: 70px;
}

.submit-button,
.record-button {
    position: relative;
    transition: 0.2s all ease-in-out;
    margin: 0 20px;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;

    &:focus,
    &:focus-visible {
        outline: none;
    }

    // padding: 5px;

    &>button {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        outline: none;
        height: 100%;
        padding: 0;
        background-color: #ffffff;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:focus,
        &:focus-visible {
            outline: none;
        }

        // box-shadow: 0 2px 5px rgba(179, 179, 179, 0.377);
        &:hover {
            background-color: $white-color !important;
            // box-shadow: 0 3px 15px rgba(122, 122, 122, 0.733);
            transform: scale(1.1);

        }
    }

    &>button[title="Re-record"] {
        svg {
            margin-top: 1px;
        }
    }

    &>button[title="Play"] {
        svg {
            margin-left: 3px;
        }
    }

    .record-button-bg {
        transition: 0.2s all ease-in-out;
        height: 110%;
        width: 110%;
        opacity: 0.5;
        border-radius: 100px;
        @extend .gradient-background;
    }

    &:hover {
        // transform: translateY(-5px);

        .record-button-bg {
            opacity: 1;
        }
    }
}

.recording {
    &>button {
        border-radius: 100px !important;
    }

    .record-button-bg {
        border-radius: 100px !important;
    }

    &:hover {
        transform: none !important;

        .record-button-bg {
            border-radius: 100px !important;
            opacity: 1;
        }
    }
}

.hide-recording-button {
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden !important;
    opacity: 0;
    overflow: hidden;

    &>button {
        width: 0 !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        visibility: hidden !important;
        opacity: 0;
        overflow: hidden;
    }

    .record-button-bg {
        width: 0 !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        visibility: hidden !important;
        opacity: 0;
        overflow: hidden;
    }
}

.footer {
    height: 200px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.record-wrapper {
    position: relative;
    width: 50%;
    display: flex;
    transition: 0.2s all ease-in-out;
    // margin-bottom: 50px;

    .record-button-wrapper {
        position: absolute;
        // top: calc(50% - 56px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: 0.2s all ease-in-out;

        audio {
            display: none;
        }
    }
}


//--------------------------------------------Speak module----------------------------------------------------
.speak-slider-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // height: 85vh;
    // overflow: auto;

    .btn {
        background-color: $Bright-Blue;

        &:hover {
            background-color: darken($Bright-Blue, 20%);
        }

        &:focus,
        &:active {
            background-color: darken($Bright-Blue, 15%);
        }
    }

    .lottie-group {
        @extend .align-content-center;
    }
}

//--------------------------------------------carousel css----------------------------------------------------

.slider-wrapper {
    // min-height: 40vh;
    width: 100%;
    // overflow: hidden !important;

    .slick-track,
    .slick-list {
        padding: 10px 0;
    }

    .slick-track {
        @extend .align-content-center;
        transition: 0.5s all ease-in-out;
    }

    .slick-active {
        opacity: 1 !important;
        transition: 0.5s all ease-in-out;
        box-shadow: none !important;

        &>div {
            position: relative;
            width: 100%;
            background-color: $white-color;
            border-radius: 8px;
            transition: 0.5s all ease-in-out;

            .slide {
                div {
                    text-shadow: none !important;
                    color: black !important;
                }
            }

            &::before {
                content: '';
                transition: 0.5s all ease-in-out;
                height: calc(100% + 6px);
                width: calc(100% + 6px);
                opacity: 0.5;
                border-radius: 8px;
                top: -3px;
                left: -3px;
                @extend .gradient-background;
            }
        }

        .blur-overlay {
            -webkit-backdrop-filter: none !important;
            backdrop-filter: none !important;
            z-index: -1;
        }
    }


    .slick-slide {
        opacity: 0.5;
        transition: 0.2s all ease-in-out;
        // padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(182, 182, 182, 0.603);
        margin: 5px 120px;
        background-color: $white-color;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;


        &>div {
            position: relative;
            width: 100%;
            height: inherit;
            background-color: $white-color;
            border-radius: 8px;
            // transition: 0.5s all ease-in-out;

            // &::before {
            //     content: '';
            //     height: calc(100% + 20px);
            //     width: calc(100% + 20px);
            //     opacity: 0.5;
            //     border-radius: 8px;
            //     top: -10px;
            //     left: -10px;
            //     @extend .gradient-background;
            // }
        }


        .slide {
            @extend .align-content-center;
            min-height: 40vh;
            width: 100%;
            z-index: 1;

            &:focus,
            &:focus-visible {
                outline: none !important;
            }

            div {
                @extend .align-content-center;
                // box-shadow: 0 2px 5px rgba(179, 179, 179, 0.582);
                width: 100%;
                text-align: center;
                word-wrap: break-word;
                text-shadow: 0 0 12px black;
                color: transparent;
                font-size: 30px;
                font-family: 'OpenSans';
                align-items: baseline;
                // backdrop-filter: blur(3px);
                // max-height: 250px;
                // overflow: hidden;
                letter-spacing: 1.5px;
                line-height: 1.8;
                padding: 30px 40px;
                border: none;
                // background-color: $white-color;
            }

        }

        .visualizer {
            position: absolute;
            padding: 0;
            height: 100%;
            width: 100%;
            top: 0;
            border-radius: 8px;
            opacity: 0.3;
            transition: 0.5s all ease-in-out;

            &>div {
                padding: 0;
            }
        }

        .blur-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 1;
            -webkit-backdrop-filter: blur(5px);
            -moz-backdrop-filter: blur(5px);
            -ms-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            top: 0;
            left: 0;
            border-radius: 5px;
            overflow: hidden;
        }
    }
}